name = "oncall-cron"
main = "worker.js"
compatibility_date = "2026-01-01"

[[kv_namespaces]]
binding = "ONCALL_KV"
id = "YOUR_KV_ID"

[vars]
CRON_SHARED_SECRET = "7Seals^C"
BREVO_SENDER_EMAIL = "oncall@onenecklab.com"
BREVO_SENDER_NAME = "On-Call Cron"
ADMIN_NOTIFICATION = "ahmed.adeyemi@ussignal.com,kevin.damisch@ussignal.com"
SMS_PROVIDER_URL = "https://api.brevo.com/v3/transactionalSMS/send"

[triggers]
crons = [
  "0 14 * * 1", # Monday 8am CST
  "0 14 * * 5"  # Friday 8am CST
]
